.browse{
	.card{
		.card-image{

		}
		.card-content{
		    padding: 10px;
			height: 80px;

			.sendButton{
				margin-top: 10px;
				text-align: right;
			}
			.quantityField{
				margin: 0px;
			}

			.card-title{
				font-size: 15px;
				line-height: 25px;
			}

			.btn-floating{
				position: absolute;
				right: 10px;
				bottom: 20px;
			}
		}
	}
}