header.header-top{
	padding: 0 20px;

	a{
		color: #fff;
	}

	.wrap{
		&:before, &:after {
			display: block;
			content: ' ';
			clear: both;
		}
	}
	.header-bottom-left{
		float: left;
	}

	.header-bottom-right{
		float: right;
	}

	.menu{
		ul{
			li{
				float: left;
			}
		}
	}
}