@import 'variables';
@import '../vendor/Materialize/sass/materialize';
@import '../vendor/components-font-awesome/scss/font-awesome';
@import 'header';
@import 'footer';
@import 'browse';

main{
	margin-bottom: 40px;
	span.badge{
		position: absolute;
		top: 40%;
		color: #ffffff;
	}
}