<header class="header-top light-blue darken-2">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="menu">
                <ul class="megamenu skyblue">
                    <li class="active grid">
                        <a href="#/shoppingCart">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-bottom-right">
            <ul class="last">
                <li>
                    <a href="#/checkout"> <i class="fa fa-shopping-cart"></i> Cart</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    </div>
</header>

<main>
    <div ui-view></div>
</main>

<footer class="bottom light-blue darken-4">
    Mc Fadyen
</footer>