<div class="product col s12 m4 l3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <a href="#">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=250" alt="product-img">
            </a>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col" ng-hide="shopping">
                    <p class="card-title grey-text text-darken-4" ng-bind="product.name"></p>

                    <p class="card-title grey-text text-darken-4">
                        <a href="#" class="grey-text text-darken-5">{{ product.price|currency}}</a>
                    </p>
                    <a class="btn-floating waves-effect waves-light" ng-click="shopping=true"><i class="fa fa-plus"></i></a>
                </div>
                <div class="col" ng-show="shopping">
                    <div class="input-field col s6 quantityField">
                        <input id="icon_prefix" type="number" class="validate" ng-model="quantity">
                        <label for="icon_prefix" class="">Quantity</label>
                    </div>
                    <div class="input-field col s6 sendButton">
                        <button class="btn waves-effect waves-light" type="buttom" ng-click="addToSC()"><i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>