<div class="container">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="commerceItem in checkoutCtrl.shoppingCart.commerceItem">
            <span class="title" ng-bind="commerceItem.product_id.name"></span>
            <div class="row">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=250" class="circle">
                <p>Price: {{commerceItem.product_id.price|currency}} </p>
                <p>Quantity: {{commerceItem.quantity}} </p>
                <p>Subtotal: {{commerceItem.amount | currency}} </p>

                <span ng-click="checkoutCtrl.removeItem( commerceItem._id)" class="red badge"><i class="fa fa-remove"></i> Remove</span>
            </div>
        </li>
        <li class="collection-item">
            <p>Total {{checkoutCtrl.shoppingCart.amount|currency}} </p>
        </li>
    </ul>
</div>